In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(123)

In [3]:
num_estudiantes = 100

In [4]:
estudiantes_ids = np.arange(1,num_estudiantes + 1)

In [5]:
nombres = np.random.choice(["Ana","Luis","Maria","Carlos","Sofia"], size=num_estudiantes)

In [6]:
matematicas = np.random.randint(0, 100, size=num_estudiantes)

In [7]:
ciencias = np.random.randint(0, 100, size=num_estudiantes)

In [8]:
edades = np.random.randint(15, 20, size=num_estudiantes)

In [9]:
genero = np.random.choice(["Femenino", "Masculino"],  size=num_estudiantes)

In [20]:
dataf_estudiantes = pd.DataFrame({
    "ID" : estudiantes_ids,
    "Nombre" : nombres,
    "Edad" : edades,
    "Genero" : genero,
    "Matematicas" : matematicas,
    "Ciencias" : ciencias
})
dataf_estudiantes

     ID  Nombre  Edad     Genero  Matematicas  Ciencias
0     1   Maria    18  Masculino           86        87
1     2   Sofia    16  Masculino           46         4
2     3   Maria    16  Masculino           15        69
3     4    Luis    16  Masculino           59        56
4     5  Carlos    18  Masculino           40        60
..  ...     ...   ...        ...          ...       ...
95   96   Sofia    18  Masculino           85        71
96   97  Carlos    17  Masculino           59        39
97   98    Luis    17   Femenino           48        87
98   99     Ana    17  Masculino           56        83
99  100     Ana    18   Femenino           87        78

[100 rows x 6 columns]

In [21]:
dataf_estudiantes["Promedio"] = dataf_estudiantes[["Matematicas", "Ciencias"]].mean(
    axis = 1).round(2)
dataf_estudiantes["Promedio"]

0     86.5
1     25.0
2     42.0
3     57.5
4     50.0
      ...
95    78.0
96    49.0
97    67.5
98    69.5
99    82.5
Name: Promedio, Length: 100, dtype: float64

In [16]:
dataf_estudiantes["Rendimiento"] = pd.cut(
    dataf_estudiantes["Promedio"],
    bins=[0,50,80,100],
    labels=["Bajo","Regular","Excelente"]
)
dataf_estudiantes["Rendimiento"]

0     Excelente
1          Bajo
2          Bajo
3       Regular
4          Bajo
        ...
95      Regular
96         Bajo
97      Regular
98      Regular
99    Excelente
Name: Rendimiento, Length: 100, dtype: category
Categories (3, object): ['Bajo' < 'Regular' < 'Excelente']

In [13]:
dataf_estudiantes.to_csv("rendimiento_estudiantes.csv", index=False)

In [14]:
dataf_agrupado = dataf_estudiantes.groupby("Genero")[["Matematicas","Ciencias"]].mean().reset_index()

In [15]:
dataf_agrupado.to_csv("rendimiento_por_genero.csv", index=False)