In [2]:
import pandas as pd

In [4]:
std = pd.read_csv('estudiantes.csv')

In [6]:
std

    NOMBRE  EDAD GENERO       CARRERA SEMESTRE
0   Victor    28      M     Auditoria  Primero
1   Josefa    23      F   Informatica  Primero
2     Raul    26      M       Derecho   Quinto
3  Mariana    27      F   Informatica  Septimo
4  Rodrigo    22      M       Derecho  Tercero
5  Gustavo    25      M  Arquitectura  Septimo
6     Lucy    23      F   Informatica  Primero
7    Sofia    24      F      Economia   Noveno