In [1]:
import pandas as pd

In [17]:
df1 = pd.DataFrame({'AUTOS':['Nissan','Ford','Audi'],
                    'COLOR':['Blanco','Azul','Rojo']}).set_index('AUTOS')

In [19]:
df2 = pd.DataFrame({'AUTOS':['Nissan','Ford','Audi'],
                    'MODELO':[2018,2020,2022]}).set_index('AUTOS')

In [21]:
df1

         COLOR
AUTOS
Nissan  Blanco
Ford      Azul
Audi      Rojo

In [23]:
df2

        MODELO
AUTOS
Nissan    2018
Ford      2020
Audi      2022

In [ ]:
df = pd.concat([df1,df2]), axis=1